@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "tailwindcss";

@theme {
  --breakpoint-xs: 30rem;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-slg: 60.5rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;
  /* add primary color */
  --color-primary: #4361ee;
}

html,
body {
  font-family: "Inter", sans-serif !important;
  padding: 0;
  margin: 0;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.body-wrapper {
  min-height: 100vh;
}

@layer components {
  body {
    @apply bg-gray-900;
  }
  .deskTopNavItem {
    @apply mx-2 cursor-pointer;
  }
  .mobileNavItem {
    @apply mx-2 my-5 text-xl cursor-pointer;
  }

  .primaryBtn {
    @apply bg-blue-500 text-white py-2 px-5 rounded-full;
  }

  .contactInpCont {
    @apply flex flex-col py-1 px-8;
  }
  .contactLabel {
    @apply ml-2 font-medium text-lg text-white;
  }
  .contactInput {
    @apply py-2 px-8 rounded-full my-2 slg:w-96 focus:ring-[3px] bg-slate-600 ring-[#8E9FF6] outline-none text-white;
  }
}
