@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Inter", sans-serif !important;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.body-wrapper {
  min-height: 100vh;
}

@layer components {
  body {
    @apply dark:bg-gray-900;
  }
  .deskTopNavItem {
    @apply mx-2  cursor-pointer;
  }
  .mobileNavItem {
    @apply mx-2 my-5 text-xl cursor-pointer;
  }

  .primaryBtn {
    @apply bg-[#5672F0] text-white py-2 px-5 rounded-full focus:ring-4 focus:ring-[#C7D0FA] selection:cursor-not-allowed;
  }

  .contactInpCont {
    @apply flex flex-col py-1 px-8;
  }
  .contactLabel {
    @apply ml-2 font-medium text-lg;
  }
  .contactInput {
    @apply py-2 px-8 rounded-full my-2 slg:w-96 focus:ring-[3px] bg-zinc-200 ring-[#B4C0F9] dark:ring-[#8E9FF6]  dark:bg-slate-600 outline-none;
  }
}
